html, body{
    margin-left:15px; margin-right:15px;
    padding:0px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

table {
    border-collapse:collapse;
    border-bottom:1px solid gray;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    width:72%;
}

th {
    border-bottom:1px solid gray;
    background:none repeat scroll 0 0 #09c332;
    padding:10px;
    color: #FFFFFF;
}

tr {
    border-top:1px solid gray;
    text-align:center;
}

tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #BBBBBB}

#wrapper {width: 100%; margin-top: 0px; }
#header {width: 70%; background: #09c332; margin-top: 0px; padding:15px 0px 15px 15px;}
#header h2 {width: 100%; margin:auto; color: #FFFFFF;}
#container {width: 100%; margin:auto}
#container h3 {color: #000;}
#container #content {margin-top: 20px;}

.add-button {
    border: 1px solid #666;
    border-radius: 5px;
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
    width: 120px;
    padding: 5px 10px;

    margin-bottom: 15px;
    background: #cccccc;
}
.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron h1 {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    /* border: 1px solid transparent; */
    border-radius: .25rem;
}
.SearchIcon
{
    color:#fff;

}
.SearchButton
{
    background-color:#ED1C24;
    border-radius:1px;
}
.SearchButton:hover{
    background-color:#C4161C;
}

.SearchBar{

}

.main{
    margin-top: 70px;
}

#NameOfStore {
    position: relative;
}

#showUsername {
    color: #f8f9fa;
    font-weight:700;
    right: 85px;
    position: absolute;
    bottom: 15px;
}

h1.title {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}

hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;

}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}

@media (min-width: 76px) {
    .form-search .combobox-container,
    .form-inline .combobox-container {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: top;
    }
    .form-search .combobox-container .input-group-addon,
    .form-inline .combobox-container .input-group-addon {
        width: auto;
    }
}

.combobox-selected .caret {
    display: none;
}


/* :not doesn't work in IE8 */

.combobox-container:not(.combobox-selected) .glyphicon-remove {
    display: none;
}

.typeahead-long {
    max-height: 76px;
    overflow-y: auto;
}

.control-group.error .combobox-container .add-on {
    color: #B94A48;
    border-color: #B94A48;
}

.control-group.error .combobox-container .caret {
    border-top-color: #B94A48;
}

.control-group.warning .combobox-container .add-on {
    color: #C09853;
    border-color: #C09853;
}

.control-group.warning .combobox-container .caret {
    border-top-color: #C09853;
}

.control-group.success .combobox-container .add-on {
    color: #468847;
    border-color: #468847;
}

.control-group.success .combobox-container .caret {
    border-top-color: #468847;
}